[Desktop Entry]
Name=Omedora XR
Comment=Omedora HypXRland session managed by uwsm
Exec=/usr/bin/omarchy-xr-session
TryExec=/usr/bin/omarchy-xr-session
Type=Application
Keywords=tiling;wayland;compositor;openxr;vr;
